.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  background-color: var(--color-green-200);
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: var(--color-green-300);
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-green-400);
  }
}

.ghost {
  background-color: transparent;

  &:hover {
    background-color: var(--color-gray-100);
  }
}
