@use "@/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  min-width: 400px;
  padding: 20px;

  @include mixins.media("sm") {
    min-width: initial;
  }
}

.btnContainer {
  display: flex;
  column-gap: 10px;
}
