:root {
  --color-gray-100: #e6e6e6;
  --color-gray-200: #e4e4e7;
  --color-green-100: #eceee8;
  --color-green-200: #c7d3b6;
  --color-green-300: #adc587;
  --color-green-400: #535f41;
  --color-green-500: #4e5d4c;
  --color-red: #821010;
  --color-black: #000000;
  --color-white: #ffffff;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  background-color: var(--color-green-100);
  font-optical-sizing: auto;
}

body,
#root {
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
