@use "@/styles/mixins";

.input {
  padding: 10px;
  @include mixins.border(var(--color-gray-200));
  border-radius: 5px;

  &:focus {
    border-color: var(--color-green-500);
    outline: none;
  }
}
