@use "@/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.7rem;
  width: 400px;
  padding: 20px;

  @include mixins.media("sm") {
    width: unset;
  }
}

.btnContainer {
  display: flex;
}
